* {
    position: relative;
}
body {
    background-image: url(http://i.imgur.com/5O1JXmm.jpg);
    height: 1500px;
    margin: 0;
    border-width: 0;
}
a {
    color:coral;
}
h1 {
    text-align: center;
    font-size: 40px;
    color: aliceblue;
    font-family: 'Gloria Hallelujah', cursive;
}
h2 {
    text-align:center;
    font-size: 30px;
    color: saddlebrown;
    font-family: 'Gloria Hallelujah', cursive;
}
h3 {
    text-align:center;
    font-size: 15px;
    color: black;

}


.navigation, h4 {
    text-transform: capitalize;

}

.navigation {
    background-color:rgba(0,0,0,1);
    opacity:0.3;
    max-width: 1000px;
    min-width: 920px;
    border: 2px solid none;
    margin: 30px auto 10px auto;
}

.navigation li {
    display: inline-block;
    border-radius: 5px;
    line-height: 1.4em;
    font-size: 20px;
    color: white;
    padding: 2px 5px;
    margin: 0 50px;
}

.navigation li:hover {
    color:darkcyan;
}

.navigation ul {
    text-align: center;
}

.self-picture img {

    border-radius: 100%;
}

.self-picture {
    text-align: center;
}

.movie-picture {
    text-align: center;
    float: right;
    margin: 0px 5px;
}
.music-picture {
    text-align: center;
    float: left;
    margin: 0px 5px;
}
.movie-text{
    display:inline-block;
    margin: 0px 10px;
}
.music-text{
    display:inline-block;
    margin: 0px 10px;
}


.header{
    min-width: 1200px;

}
.about {
    float: left;
    border-width: 7px 7px 7px 0px;
    top:30px;
    width:600px;
}
.hobbies{
    float: right;
    border-width: 7px 0px 7px 7px;
    top:60px;
    width:650px;
}
.movie {

    float: left;
    border-width: 7px 7px 7px 0px;
    top:90px;
    width:850px;
}
.music{
    float: right;
    border-width: 7px 0px 7px 7px;
    top:120px;
    width:800px;
}


.about,.movie{
    border-style:solid;
    border-color:bisque;
    padding:15px;
    margin: 3px 0px;
    position: relative;

}

.hobbies,.music{
    border-style:solid;
    border-color:lightblue;
    padding:15px;
    margin: 3px 0px;
 position: relative;
}

.content {
    min-width: 550px;
    height: 180px;
    margin: 0 auto;

}
footer {
    position: relative;
    margin-top: -100px; 
    height: 180px;
    clear:both;
   

}
.marq{
    background-color:rgba(0,0,0,0.3);
    top:130px;
    font-family: 'Arvo',cursive;
    text-align: center;
}
.ig, .fb{
    float: right;
    margin: 80px 10px 15px 15px;
    
}
